{% extends "base.html" %}

{% block title %}Writing Practice - Toki Pona{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Sitelen Pona Writing Practice</h1>
        <p class="lead">Select a glyph to practice:</p>
    </div>
</div>

<div class="row mt-4">
    {% if glyphs %}
        {% for glyph in glyphs %}
            <div class="col-md-3 col-sm-4 col-6 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="glyph-preview">
                            <img src="{{ glyph.image.url }}" alt="{{ glyph.name }}" class="img-fluid" style="max-height: 80px;">
                        </div>
                        <h5 class="card-title mt-3">{{ glyph.name }}</h5>
                        <a href="{% url 'writing:practice' glyph.name %}" class="btn btn-primary btn-sm">Practice</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info">
                No glyphs are available yet. Please check back later.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
